<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    p {
      text-indent: 2em;
    }
  </style>

</head>

<body>
  <table>
    <tr>
      <td>
        <p>此单据仅作为费用提示，如与上海清算所提供的缴费通知单有差异，请以上海清算所提供的缴费通知单为准，并及时联系我行。</p>
        <p>对于已授权自动扣费的组合，我行将按照授权信息在约定日期完成自动扣划。
        </p>
        <p> 对于未授权自动扣费的组合，或自动扣费当日因头寸不足等原因我行无法支付相应费用的组合，请贵司及时下载上海清算所缴费通知单自行出具指令缴费。
        </p>
        <p> 请贵司阅读并知晓上海清算所关于费用缴纳的相关规定：
        </p>
        <p> 1、上海清算所规定结算成员应于每季度第一个月第10 个工作日前，将上季度费用一次全额汇至上海清算所指定的银行账户。<br/> 2、逾期未缴付的，上海清算所有权直接在结算成员指定的资金结算账户主动扣收,主动扣费日为每季度首月25日（遇节假日顺延）持续至季度末。
        </p>
        <p> 3、账户持有人及结算代理人逾期缴费两个月以内的，上海清算所可于每月下旬在上海清算所网站上发布催缴通知；对于逾期缴费超过两个月的，上海清算所可暂停提供服务，并在上海清算所网站上予以通告。
        </p>
        <p> 请贵司重视费用缴纳工作，严格防范因欠费而引发的账户被强制暂停或交易失败风险。</p>

      </td>
    </tr>
  </table>
</body>

</html>